.userContainer {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.userContainer h4 {
    font-size: 20px;
    color: #333;
    margin: 5px 0;
}

.userContainer p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.userInfo {
    font-weight: bold;
    color: #333;
}