.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Робимо форму по центру сторінки */
    background-color: #f7f7f7;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Можна змінити на бажану ширину */
}

.inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #45a049;
}

.errorMessage {
    color: red;
    font-size: 12px;
    margin-bottom: 15px;
}